/*
    FONT FAMILY
        - font families
*/

var,
code,
kbd,
samp {
    /* font-family: Consolas, Inconsolata, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L','Courier New', Courier, monospace; */
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

q, 
blockquote {
    font-family: 'Roboto Slab', Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
}


.font {

    &--sys-serif {
        font-family: serif;
    }


    &--source-sans {
        font-family: 'Source Sans Pro', sans-serif;
    }

    &--sys-sans {
        font-family: sans-serif;
    }

    &--sans {
         font-family: Roboto, 'San Francisco',
         'Helvetica Neue', -apple-system,
         BlinkMacSystemFont, 'Segoe UI',
         Oxygen-Sans, Ubuntu,
         Cantarell, Helvetica,
         Arial, sans-serif;
    }

    &--serif {
        font-family: 'Roboto Slab', Constantia,
            'Lucida Bright', Lucidabright,
            'Lucida Serif', Lucida,
            'DejaVu Serif', 'Bitstream Vera Serif',
            'Liberation Serif', Georgia,
            serif;
    }

    &--monospace {
        font-family: Consolas, Monaco,
            'Andale Mono WT', 'Andale Mono',
            'Lucida Console', 'Lucida Sans Typewriter',
            'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
            'Liberation Mono', 'Nimbus Mono L',
            'Courier New',
            Courier, monospace;
    }

    &--condensed {
        font-family: 'Roboto Condensed', 'Franklin Gothic Bold',
            'Helvetica Inserat', Impact,
            Haettenschweiler, , Charcoal,
            'Bitstream Vera Sans Bold',
            'Arial Black', sans-serif;
    }
}
