/* Hanging puctuations */

.hp {
  &-none {
    hanging-punctuation: none;
  }

  &-first {
    hanging-punctuation: first;
  }

  &-last {
    hanging-punctuation: last;
  }

  &-a-end {
    hanging-punctuation: allow-end;
  }

  &-f-end {
    hanging-punctuation: force-end;
  }
}

@mixin atSmall {
}
@mixin atMedium {
}
@mixin atLarge {
}
@mixin atExLarge {
}
