/* List */

.lst {
    &--u {
        margin: 1em 0 1em 1em;
    }

    &--o {
        margin: 1em 0 1em 1em;
    }

    &--d {
        margin: 1em 0;
    }

    & li {
        margin: .25em 0; 
    }

    & dd {
        margin-bottom: .4em;
    }
}

@mixin atSmall {}
@mixin atMedium {}
@mixin atLarge {}
@mixin atExLarge {}