/*

    VERTICAL ALIGNMENT
        - Typography Alignment

    Media Query Extensions : 
        -sm : small
        -md : medium
        -lg : large
        -xl : extra large
*/

.v-baseline {
  vertical-align: baseline;
}

.v-middle {
  vertical-align: middle;
}

.v-top {
  vertical-align: top;
}

.v-bottom {
  vertical-align: bottom;
}

@mixin atSmall {
  .v-baseline-sm {
    vertical-align: baseline;
  }

  .v-middle-sm {
    vertical-align: middle;
  }

  .v-top-sm {
    vertical-align: top;
  }

  .v-bottom-sm {
    vertical-align: bottom;
  }
}

@mixin atMedium {
  .v-baseline-md {
    vertical-align: baseline;
  }

  .v-middle-md {
    vertical-align: middle;
  }

  .v-top-md {
    vertical-align: top;
  }

  .v-bottom-md {
    vertical-align: bottom;
  }
}

@mixin atLarge {
  .v-baseline-lg {
    vertical-align: baseline;
  }

  .v-middle-lg {
    vertical-align: middle;
  }

  .v-top-lg {
    vertical-align: top;
  }

  .v-bottom-lg {
    vertical-align: bottom;
  }
}

@mixin atExLarge {
  .v-baseline-xl {
    vertical-align: baseline;
  }

  .v-middle-xl {
    vertical-align: middle;
  }

  .v-top-xl {
    vertical-align: top;
  }

  .v-bottom-xl {
    vertical-align: bottom;
  }
}
