:root {
    /* style */

    --switch-width-md: 2.5em;
    --switch-height-md: 1.375em;
    --switch-padding-md: 0.188rem;

    --switch-radius: 50em;

    /* animation */
    --switch-animation-duration: 0.2s;
}

.switch {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    position: relative;

    & > * {
        cursor: pointer;
    }
    

    border-radius: var(--switch-radius);
    height: var(--switch-height-md);
    padding: var(--switch-padding-md) 0;

    &[disabled] {
        pointer-events: none;
        opacity: var(--btn-disabled-opacity);
      }

    &__label,
    &__input {
        position: absolute;
        left: 0;
        top: 0;
        width: var(--switch-width-md);
        height: var(--switch-height-md);
    }

    &__state {
        margin-left: calc(var(--switch-width-md) + var(--space-xs));
        padding: var(--switch-padding-md) 0;
        vertical-align: middle;
        z-index: 1;

        &[data-off]:after {
            content: attr(data-off);
        }
    }

    &__label {

        color: transparent;
        user-select: none;
        background-color: var(--white-active);
        border-radius: inherit;
        z-index: 1;
        transition: background var(--switch-animation-duration);

        &::after {
            content: '';
            top: .15em;
            position: absolute;
            background-color: var(--white);
            width: calc(var(--switch-height-md) - var(--switch-padding-md) * 2);
            height: calc(var(--switch-height-md) - var(--switch-padding-md) * 2);
            border-radius: 50%;
            z-index: 2;
            pointer-events: none;
            box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08);
            left: var(--switch-padding-md);

            transition: all 0.3s;

            input[type='checkbox']:checked+& {
                left: calc(100% - var(--switch-height-md) + var(--switch-padding-md));
            }
        }

        input[type='checkbox']:checked+& {

            background-color: var(--violet);

            &+.switch__state {
                color: var(--violet);

                &[data-on]:after {
                    content: attr(data-on);
                }
            }
        }
    }

    /* Send the checkbox offscreen */
    &__input {
        margin: 0;
        padding: 0;
        opacity: 0;
        height: 0;
        width: 0;
        pointer-events: none;

        &:focus+.switch__label,
        &:active+.switch__label {
            /* --color-shadow: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);  */
            box-shadow: 0 0 0 3px var(--white-hover);
        }
    }



}
