.typeface {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px dashed rgba(var(--gray),0.2);
    box-shadow: 0 2px 27px 0 rgba(var(--gray),0.03);
    padding: 4rem 2.4rem;

    /* Margins */
    margin-right: .8em;


    &__text-weight {
        overflow: visible; /* For IE */
        padding: 0;
        border: none;
        border-top: .1rem solid var(--gray);
        color: #;
        text-align: right;
        height: 14px;

        &[data-line]:after {
            content: attr(data-line);
            display: inline-block;
            position: relative;
            top: -1em;
            font-size: .9em;
            letter-spacing: .04em;
            padding: 0 0.05em 0 0.5em;
            background: var(--white);
        }
    }

    &__preview-text {

        font-size: 7.4rem;
        text-align: center;

    }

    /* bottom padding */
    &--margin-bottom {
        margin-bottom: 2.4em;

        &--small {
            margin-bottom: .8em;
        }

        &--large {
            margin-bottom: 4.8em;
        }
    }

}



.tf-container {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.6em;
}
