.typescale {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px dashed rgba(var(--gray),0.18);
    padding: .2rem .8rem;

    margin-right: .2em;


    &__text-size {
        text-align: center;
        font-size: .8em;
        height: 12px;
        /* display: inline-block; */
        padding: 0.5em 0.05em 4.8em 0.5em;
        /* position: relative; */
    }

    &__preview {
        /* display: flex;
        align-items: flex-end; */

        &-text{
            
            text-align: center;
            line-height: 0;
            margin-left: 0; 
            margin: auto;

            &--1 {
                font-size: 9.6rem;
            }

            &--2 {
                font-size: 6rem;
            }
            
            &--3 {
                font-size: 4.8rem;
            }
            
            &--4 {
                font-size: 3.6rem;
            }

            &--5 {
                font-size: 3.0rem;
            }

            &--6 {
                font-size: 2.8rem;
            }

            &--7 {
                font-size: 2.4rem;
            }

            &--8 {
                font-size: 2.2rem;
            }

            &--9 {
                font-size: 2.0rem;
            }

            &--10 {
                font-size: 1.6rem;
            }

            &--11 {
                font-size: 1.5rem;
            }
        }
    }

    /* bottom padding */
    &--margin-bottom {
        margin-bottom: .8em;

        &--small {
            margin-bottom: .2em;
        }

        &--large {
            margin-bottom: 1.6em;
        }
    }

}



.ts-container {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.6em;
}