/*!
 * trost v1.0.0
 *  [german trans.] "to comfort in distress"
 * 
 * Murshid Azher, Copyright 2019
 * https://github.com/murshidazher/trostcss
 */

/* Variables */

.e {
    color: aqua;
}

/* Mixins */

.d {
    color: aqua;
}

/* Base styles */

/* Normalisation and Base styles files. */

.a {
  color: aqua;
  background-color: blue;
  font-size: 2px;
}

/* Helpers */

.c {
    color: aqua;
}

/* Elements */

.b {
  color: rgb(31, 161, 48);
}
