@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

@keyframes bounce {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}